{% extends 'hotel/base.html' %}

{% block body %}
    <div class="container mt-5">
        <h2>Bạn có chắc chắn muốn xóa phòng này không?</h2>
        <p>Number: {{ room.number }}</p>
        <p>Category: {{ room.get_category_display }}</p>
        <p>Beds: {{ room.beds }} giuong </p>
        <p>Price: {{ room.price }} VND</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
            <a href="{% url 'hotel:room_list' %}" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
{% endblock %}
