{% extends 'hotel/base.html' %}

{% block body %}
    <div class="container mt-5">
        <h2>Bạn chắc chắn muốn xóa dịch vụ này không?</h2>
        <p>Service Number: {{ service.service_number }}</p>
        <p>Service Type: {{ service.get_service_type_display }}</p>
        <p>Price: {{ service.price }} VND</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
            <a href="{% url 'hotel:services_list' %}" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
{% endblock %}
